CarGame/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_4_1.bundle
CarGame/Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_4_1.so
CarGame/Library/Artifacts/49/49e1acaead7a4b1c58d8b4180db2073d
CarGame/Assets/google-services.json
CarGame/Assets/StreamingAssets/google-services-desktop.json
